.App {
  text-align: center;
  background-color:indianred;
  background-position: center;
}
.App h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: medium;
  color:red;
  background-color: blue;
}
.App h3 {
 
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
  
}



